<!DOCTYPE html>
<html lang="en">
<head>
<title>SDI2021-312-SPRING</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />


	<div class="container">
		<h2>Profesores</h2>
		<p>Los profesores que actualmente figuran en el sistema son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Dni</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Asignatura</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="prof : ${profList}">
						<td th:text="${prof.id}">1</td>
						<td th:text="${prof.dni}">12345678Q</td>
						<td th:text="${prof.name}">Pepe</td>
						<td th:text="${prof.surname}">Perez</td>
						<td th:text="${prof.course}">Matematicas</td>
						<td><a sec:authorize="!hasRole('ROLE_STUDENT')" th:text="#{detail.message}"></a></td>
						<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{edit.message}"></a></td>
						<td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/prof/delete/' + prof.id}" th:text="#{delete.message}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>
